<div class="prose-code">
  <!-- prettier-ignore-start -->
  <pre data-highlight="true" {% if node.kind.data.language %}class="language-{{ node.kind.data.language }}"{% endif %}>{{ node.kind.data.value|escape }}</pre>
  <!-- prettier-ignore-end -->
</div>
