{% from "components/markdown.html.jinja" import prose %}

<div class="open-api-outer-container">
  <div class="open-api-inner-container">
    <div class="open-api-page-header">
      {% with breadcrumbs = page.breadcrumbs %}
        {% include "components/breadcrumbs.html.jinja" %}
      {% endwith %}

      <div class="prose open-api-tag-header">
        <h1>{{ page.ast.root.tag.name }}</h1>
      </div>

      {% if page.ast.root.tag.description_ast %}
        {{ prose(page.ast.root.tag.description_ast) }}
      {% endif %}
    </div>

    <div class="open-api-operations">
      {% for operation in page.ast.root.operations %}
        <div class="open-api-operation" id="{{ operation.anchor_tag }}">
          <div class="open-api-operation-header">
            <div>
              <span
                class="open-api-operation-method open-api-operation-method-{{ operation.method }}"
                >{{ operation.method }}</span
              >
              <code class="open-api-operation-route-pattern"
                >{{ operation.route_pattern }}</code
              >
            </div>
            <h2 id="{{ operation.anchor_tag }}">{{ operation.summary }}</h2>
          </div>

          {% if operation.description_ast %}
            {{ prose(operation.description_ast) }}
          {% endif %}

          <div class="open-api-operation-details">
            <div class="open-api-operation-inner-left">
              {% include "components/open_api_left_side.html.jinja" %}
            </div>
            <div class="open-api-operation-inner-right">
              {% include "components/open_api_right_side.html.jinja" %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% with footer = project.settings.footer %}
    {% include "footer.html.jinja" %}
  {% endwith %}
</div>
