<div
  class="search-modal-background"
  x-cloak
  x-data="{ open: false, index: null, query: '', results: [], searching: false }"
  x-show="open"
  x-init="index = elasticlunr.Index.load(await (await fetch('/_assets/search.json')).json())"
  @open-search-modal.window="open = true; $nextTick(() => { $refs.input.focus() })"
  @keydown.escape.window="open = false"
  @keydown.meta.k.prevent.window="open = !open; if (open) { $nextTick(() => { $refs.input.focus(); }) }"
  @keydown.ctrl.k.prevent.window="open = !open; if (open) { $nextTick(() => { $refs.input.focus(); }) }"
  x-transition.opacity
>
  <div class="search-modal" x-show="open" @click.outside="open = false">
    <div class="search-modal-header">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z"
          clip-rule="evenodd"
        />
      </svg>
      <input
        type="text"
        placeholder="Search..."
        @input="searching = query.length > 0; results = []"
        x-model="query"
        x-ref="input"
        x-on:keydown.debounce.500ms="
          if ($event.target.value.length === 0) { 
            results = []; 
            searching = false;
            return; 
          }

          $nextTick(() => {
            // Simulate a slow search without async syntax
            results = index.search($event.target.value, {
              fields: {
                title: { boost: 10 },
                openapi_tag: { boost: 9 },
                lvl0: { boost: 8 },
                openapi_path: { boost: 7 },
                lvl1: { boost: 7 },
                lvl2: { boost: 6 },
                lvl3: { boost: 5 },
                lvl4: { boost: 4 },
                lvl5: { boost: 3 },
                text: { boost: 2 },
                openapi_summary: { boost: 2 },
                openapi_description: { boost: 2 },
                code: { boost: 2 },
                alt: { boost: 1 },
              },
            });
            searching = false;
          })
        "
      />

      <button tabindex="-1" @click="open = false">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"
          />
        </svg>
      </button>
    </div>

    <div class="search-results-header" x-show="results.length === 0">
      <div class="search-results-header-spinner" x-show="searching">
        <svg
          fill="currentColor"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10.72,19.9a8,8,0,0,1-6.5-9.79A7.77,7.77,0,0,1,10.4,4.16a8,8,0,0,1,9.49,6.52A1.54,1.54,0,0,0,21.38,12h.13a1.37,1.37,0,0,0,1.38-1.54,11,11,0,1,0-12.7,12.39A1.54,1.54,0,0,0,12,21.34h0A1.47,1.47,0,0,0,10.72,19.9Z"
          />
        </svg>
        <span>Searching...</span>
      </div>
      <template x-if="!searching && results.length > 0">
        <span x-show="results.length === 1"> Found 1 result </span>
        <span x-show="results.length > 1">
          Found <span x-text="results.length"></span> results
        </span>
      </template>
      <template x-if="!searching && results.length === 0 && query.length > 0">
        <span> No results </span>
      </template>
    </div>

    <div x-show="results.length > 0" class="search-results">
      <template x-for="result in results" :key="result.ref">
        <a
          x-bind:href="item.page_url"
          x-data="{ item: index.documentStore.getDoc(result.ref) }"
          class="search-result-item"
        >
          <template x-if="item.kind === 'markdown'">
            <div>
              <span class="search-result-item-kind">Article</span>
              <p
                class="search-result-item-title-markdown"
                x-text="item.title"
              ></p>
              <p class="search-result-item-preview" x-text="item.text"></p>
            </div>
          </template>

          <template x-if="item.kind === 'openapi'">
            <div>
              <span class="search-result-item-kind">API Operation</span>

              <div class="search-result-item-openapi-content">
                <div class="search-result-item-openapi-name">
                  <span x-text="item.openapi_tag"></span>
                  <span>&raquo;</span>
                  <span x-text="item.openapi_summary"></span>
                </div>
                <div class="search-result-item-path">
                  <span
                    x-bind:class="'open-api-operation-method small open-api-operation-method-' + item.openapi_method"
                    x-text="item.openapi_method"
                  ></span>
                  <span x-text="item.openapi_path"></span>
                </div>
                <p
                  class="search-result-item-preview"
                  x-text="item.openapi_description"
                ></p>
              </div>
            </div>
          </template>
        </a>
      </template>
    </div>
  </div>
</div>
