openapi: 3.0.3
info:
  title: Nebularis Example API
  description: |
    This is an **example OpenAPI spec** for an imaginary cloud orchestration company. This file specifically is generated from the `info.description` field of the spec.

    You can edit this under `openapi.yaml`, or replace it with your own OpenAPI specification.

    ---

    Nebularis API provides a comprehensive set of operations to manage cloud infrastructure. 
    You can use this API to authenticate users, manage projects, deploy infrastructure, 
    monitor resources, and manage costs effectively.
  version: 1.0.0
  contact:
    name: Nebularis Support
    url: https://nebularis.com/support
    email: support@nebularis.com
servers:
  - url: https://api.nebularis.com/v1
    description: Production server
  - url: https://staging-api.nebularis.com/v1
    description: Staging server

tags:
  - name: Authentication
    description: Endpoints for user authentication including login, logout, and token refresh operations.
  - name: Users
    description: Endpoints for managing user accounts including creating, updating, retrieving, and deleting user information.
  - name: Projects
    description: Endpoints for managing projects including creating new projects, updating existing ones, retrieving project details, and deleting projects.
  - name: Infrastructure
    description: Endpoints for managing infrastructure resources including creating, updating, retrieving, and deleting infrastructure configurations.
  - name: Deployment
    description: Endpoints for deploying infrastructure resources, retrieving deployment status, and listing all deployments.
  - name: Monitoring
    description: Endpoints for monitoring cloud resources, retrieving resource metrics, and managing alerts for system events.
  - name: Cost Management
    description: Endpoints for managing and optimizing cloud costs including retrieving cost overviews and detailed cost information.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login to the Nebularis API
      description: Authenticate a user and return an access token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: The user's username
                password:
                  type: string
                  description: The user's password
              required:
                - username
                - password
            example:
              username: "johndoe"
              password: "strongpassword123"
      responses:
        200:
          description: Successfully logged in
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: The access token for authenticated requests
              example:
                token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        401:
          description: Invalid credentials

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout from the Nebularis API
      description: Revoke the current user's access token.
      responses:
        204:
          description: Successfully logged out

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh authentication token
      description: Refresh the access token using a refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: The refresh token
              required:
                - token
            example:
              token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        200:
          description: Successfully refreshed token
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: The new access token
              example:
                token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        401:
          description: Invalid token
  /users:
    post:
      tags:
        - Users
      summary: Create a new user
      description: Register a new user in the Nebularis platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: The desired username for the new user
                email:
                  type: string
                  description: The email address for the new user
                password:
                  type: string
                  description: The password for the new user
              required:
                - username
                - email
                - password
            example:
              username: "johndoe"
              email: "johndoe@example.com"
              password: "strongpassword123"
      responses:
        201:
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the new user
                  username:
                    type: string
                    description: The username of the new user
                  email:
                    type: string
                    description: The email address of the new user
              example:
                id: "user_123"
                username: "johndoe"
                email: "johndoe@example.com"
        400:
          description: Invalid input

  /users/{id}:
    get:
      tags:
        - Users
      summary: Get user information
      description: Retrieve details of a specific user.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the user
      responses:
        200:
          description: User information retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the user
                  username:
                    type: string
                    description: The username of the user
                  email:
                    type: string
                    description: The email address of the user
              example:
                id: "user_123"
                username: "johndoe"
                email: "johndoe@example.com"
        404:
          description: User not found
      security:
        - BearerAuth: []

    patch:
      tags:
        - Users
      summary: Update user information
      description: Update the details of a specific user.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: The new username for the user
                email:
                  type: string
                  description: The new email address for the user
              required:
                - username
                - email
            example:
              username: "newusername"
              email: "newemail@example.com"
      responses:
        200:
          description: User information updated successfully
        400:
          description: Invalid input
        404:
          description: User not found
      security:
        - BearerAuth: []

    delete:
      tags:
        - Users
      summary: Delete a user
      description: Delete a user account.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the user
      responses:
        204:
          description: User deleted successfully
        404:
          description: User not found
      security:
        - BearerAuth: []
  /projects:
    post:
      tags:
        - Projects
      summary: Create a new project
      description: Create a new project in the Nebularis platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the project
                description:
                  type: string
                  description: A brief description of the project
                cloud_provider:
                  type: string
                  enum: [aws, azure, gcp]
                  description: The cloud provider for the project
                region:
                  type: string
                  description: The primary region for the project's resources
                environment:
                  type: string
                  enum: [development, staging, production]
                  description: The environment type for the project
                deployment_strategy:
                  type: string
                  enum: [blue-green, canary, rolling]
                  description: The deployment strategy for the project
                monitoring_enabled:
                  type: boolean
                  description: Flag to enable or disable monitoring for the project
                tags:
                  type: array
                  items:
                    type: string
                  description: A list of tags associated with the project
              required:
                - name
                - description
                - cloud_provider
                - region
                - environment
            example:
              name: "My Project"
              description: "This is a description of my project."
              cloud_provider: "aws"
              region: "us-west-2"
              environment: "production"
              deployment_strategy: "blue-green"
              monitoring_enabled: true
              tags: ["high-priority", "customer-facing"]
      responses:
        201:
          description: Project created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the new project
                  name:
                    type: string
                    description: The name of the new project
                  description:
                    type: string
                    description: The description of the new project
                  cloud_provider:
                    type: string
                    description: The cloud provider for the project
                  region:
                    type: string
                    description: The primary region for the project's resources
                  environment:
                    type: string
                    description: The environment type for the project
                  deployment_strategy:
                    type: string
                    description: The deployment strategy for the project
                  monitoring_enabled:
                    type: boolean
                    description: Flag indicating if monitoring is enabled
                  status:
                    type: string
                    enum: [active, inactive, archived]
                    description: The current status of the project
                  tags:
                    type: array
                    items:
                      type: string
                    description: A list of tags associated with the project
                  created_at:
                    type: string
                    format: date-time
                    description: The date and time when the project was created
                  updated_at:
                    type: string
                    format: date-time
                    description: The date and time when the project was last updated
              example:
                id: "proj_123"
                name: "My Project"
                description: "This is a description of my project."
                cloud_provider: "aws"
                region: "us-west-2"
                environment: "production"
                deployment_strategy: "blue-green"
                monitoring_enabled: true
                status: "active"
                tags: ["high-priority", "customer-facing"]
                created_at: "2023-05-18T12:34:56Z"
                updated_at: "2023-05-18T12:34:56Z"
        400:
          description: Invalid input
      security:
        - BearerAuth: []
    get:
      tags:
        - Projects
      summary: List all projects
      description: Retrieve a list of all projects.
      responses:
        200:
          description: List of projects retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The unique identifier of the project
                    name:
                      type: string
                      description: The name of the project
                    description:
                      type: string
                      description: The description of the project
                    cloud_provider:
                      type: string
                      description: The cloud provider for the project
                    region:
                      type: string
                      description: The primary region for the project's resources
                    environment:
                      type: string
                      description: The environment type for the project
                    deployment_strategy:
                      type: string
                      description: The deployment strategy for the project
                    monitoring_enabled:
                      type: boolean
                      description: Flag indicating if monitoring is enabled
                    status:
                      type: string
                      enum: [active, inactive, archived]
                      description: The current status of the project
                    tags:
                      type: array
                      items:
                        type: string
                      description: A list of tags associated with the project
                    created_at:
                      type: string
                      format: date-time
                      description: The date and time when the project was created
                    updated_at:
                      type: string
                      format: date-time
                      description: The date and time when the project was last updated
              example:
                - id: "proj_123"
                  name: "My Project"
                  description: "This is a description of my project."
                  cloud_provider: "aws"
                  region: "us-west-2"
                  environment: "production"
                  deployment_strategy: "blue-green"
                  monitoring_enabled: true
                  status: "active"
                  tags: ["high-priority", "customer-facing"]
                  created_at: "2023-05-18T12:34:56Z"
                  updated_at: "2023-05-18T12:34:56Z"
                - id: "proj_456"
                  name: "Another Project"
                  description: "This is a description of another project."
                  cloud_provider: "gcp"
                  region: "us-central1"
                  environment: "development"
                  deployment_strategy: "canary"
                  monitoring_enabled: false
                  status: "inactive"
                  tags: ["low-priority", "internal"]
                  created_at: "2023-05-18T12:34:56Z"
                  updated_at: "2023-05-18T12:34:56Z"
      security:
        - BearerAuth: []
  /projects/{id}:
    get:
      tags:
        - Projects
      summary: Get project information
      description: Retrieve details of a specific project.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the project
      responses:
        200:
          description: Project information retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the project
                  name:
                    type: string
                    description: The name of the project
                  description:
                    type: string
                    description: The description of the project
                  cloud_provider:
                    type: string
                    description: The cloud provider for the project
                  region:
                    type: string
                    description: The primary region for the project's resources
                  environment:
                    type: string
                    description: The environment type for the project
                  deployment_strategy:
                    type: string
                    description: The deployment strategy for the project
                  monitoring_enabled:
                    type: boolean
                    description: Flag indicating if monitoring is enabled
                  status:
                    type: string
                    enum: [active, inactive, archived]
                    description: The current status of the project
                  tags:
                    type: array
                    items:
                      type: string
                    description: A list of tags associated with the project
                  created_at:
                    type: string
                    format: date-time
                    description: The date and time when the project was created
                  updated_at:
                    type: string
                    format: date-time
                    description: The date and time when the project was last updated
              example:
                id: "proj_123"
                name: "My Project"
                description: "This is a description of my project."
                cloud_provider: "aws"
                region: "us-west-2"
                environment: "production"
                deployment_strategy: "blue-green"
                monitoring_enabled: true
                status: "active"
                tags: ["high-priority", "customer-facing"]
                created_at: "2023-05-18T12:34:56Z"
                updated_at: "2023-05-18T12:34:56Z"
        404:
          description: Project not found
      security:
        - BearerAuth: []
    patch:
      tags:
        - Projects
      summary: Update project information
      description: Update the details of a specific project.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new name for the project
                description:
                  type: string
                  description: The new description for the project
                cloud_provider:
                  type: string
                  enum: [aws, azure, gcp]
                  description: The new cloud provider for the project
                region:
                  type: string
                  description: The new primary region for the project's resources
                environment:
                  type: string
                  enum: [development, staging, production]
                  description: The new environment type for the project
                deployment_strategy:
                  type: string
                  enum: [blue-green, canary, rolling]
                  description: The new deployment strategy for the project
                monitoring_enabled:
                  type: boolean
                  description: Flag to enable or disable monitoring for the project
                status:
                  type: string
                  enum: [active, inactive, archived]
                  description: The new status of the project
                tags:
                  type: array
                  items:
                    type: string
                  description: A new list of tags associated with the project
              required:
                - name
                - description
            example:
              name: "Updated Project"
              description: "This is an updated description of the project."
              cloud_provider: "azure"
              region: "eastus"
              environment: "staging"
              deployment_strategy: "canary"
              monitoring_enabled: true
              status: "active"
              tags: ["important", "backend"]
      responses:
        200:
          description: Project information updated successfully
        400:
          description: Invalid input
        404:
          description: Project not found
      security:
        - BearerAuth: []
    delete:
      tags:
        - Projects
      summary: Delete a project
      description: Delete a project.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the project
      responses:
        204:
          description: Project deleted successfully
        404:
          description: Project not found
      security:
        - BearerAuth: []
  /infrastructures:
    post:
      tags:
        - Infrastructure
      summary: Create a new infrastructure
      description: Create new infrastructure resources in the Nebularis platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project_id:
                  type: string
                  description: The ID of the project to which this infrastructure belongs
                name:
                  type: string
                  description: The name of the infrastructure
                cloud_provider:
                  type: string
                  enum: [aws, azure, gcp]
                  description: The cloud provider for the infrastructure
                region:
                  type: string
                  description: The region where the infrastructure resources will be deployed
                resources:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: The type of the resource (e.g., VM, database)
                      config:
                        type: object
                        additionalProperties: true
                        description: The configuration parameters for the resource
                monitoring:
                  type: boolean
                  description: Flag to enable or disable monitoring for the infrastructure
                tags:
                  type: array
                  items:
                    type: string
                  description: A list of tags associated with the infrastructure
              required:
                - project_id
                - name
                - cloud_provider
                - region
                - resources
            example:
              project_id: "proj_123"
              name: "Production Infrastructure"
              cloud_provider: "aws"
              region: "us-west-2"
              resources:
                - type: "VM"
                  config:
                    instance_type: "t2.micro"
                    ami: "ami-0c55b159cbfafe1f0"
                - type: "database"
                  config:
                    engine: "postgres"
                    version: "13"
                    instance_class: "db.t3.micro"
              monitoring: true
              tags: ["production", "web"]
      responses:
        201:
          description: Infrastructure created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the new infrastructure
                  project_id:
                    type: string
                    description: The ID of the project to which this infrastructure belongs
                  name:
                    type: string
                    description: The name of the infrastructure
                  cloud_provider:
                    type: string
                    description: The cloud provider for the infrastructure
                  region:
                    type: string
                    description: The region where the infrastructure resources are deployed
                  resources:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The type of the resource
                        config:
                          type: object
                          additionalProperties: true
                          description: The configuration parameters for the resource
                  monitoring:
                    type: boolean
                    description: Flag indicating if monitoring is enabled
                  status:
                    type: string
                    enum: [creating, active, updating, deleting, failed]
                    description: The current status of the infrastructure
                  tags:
                    type: array
                    items:
                      type: string
                    description: A list of tags associated with the infrastructure
                  created_at:
                    type: string
                    format: date-time
                    description: The date and time when the infrastructure was created
                  updated_at:
                    type: string
                    format: date-time
                    description: The date and time when the infrastructure was last updated
              example:
                id: "infra_123"
                project_id: "proj_123"
                name: "Production Infrastructure"
                cloud_provider: "aws"
                region: "us-west-2"
                resources:
                  - type: "VM"
                    config:
                      instance_type: "t2.micro"
                      ami: "ami-0c55b159cbfafe1f0"
                  - type: "database"
                    config:
                      engine: "postgres"
                      version: "13"
                      instance_class: "db.t3.micro"
                monitoring: true
                status: "active"
                tags: ["production", "web"]
                created_at: "2023-05-18T12:34:56Z"
                updated_at: "2023-05-18T12:34:56Z"
        400:
          description: Invalid input
      security:
        - BearerAuth: []

### List All Infrastructures
  /infrastructures:
    get:
      tags:
        - Infrastructure
      summary: List all infrastructures
      description: Retrieve a list of all infrastructures.
      responses:
        200:
          description: List of infrastructures retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The unique identifier of the infrastructure
                    project_id:
                      type: string
                      description: The ID of the project to which this infrastructure belongs
                    name:
                      type: string
                      description: The name of the infrastructure
                    cloud_provider:
                      type: string
                      description: The cloud provider for the infrastructure
                    region:
                      type: string
                      description: The region where the infrastructure resources are deployed
                    resources:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            description: The type of the resource
                          config:
                            type: object
                            additionalProperties: true
                            description: The configuration parameters for the resource
                    monitoring:
                      type: boolean
                      description: Flag indicating if monitoring is enabled
                    status:
                      type: string
                      enum: [creating, active, updating, deleting, failed]
                      description: The current status of the infrastructure
                    tags:
                      type: array
                      items:
                        type: string
                      description: A list of tags associated with the infrastructure
                    created_at:
                      type: string
                      format: date-time
                      description: The date and time when the infrastructure was created
                    updated_at:
                      type: string
                      format: date-time
                      description: The date and time when the infrastructure was last updated
              example:
                - id: "infra_123"
                  project_id: "proj_123"
                  name: "Production Infrastructure"
                  cloud_provider: "aws"
                  region: "us-west-2"
                  resources:
                    - type: "VM"
                      config:
                        instance_type: "t2.micro"
                        ami: "ami-0c55b159cbfafe1f0"
                    - type: "database"
                      config:
                        engine: "postgres"
                        version: "13"
                        instance_class: "db.t3.micro"
                  monitoring: true
                  status: "active"
                  tags: ["production", "web"]
                  created_at: "2023-05-18T12:34:56Z"
                  updated_at: "2023-05-18T12:34:56Z"
                - id: "infra_456"
                  project_id: "proj_456"
                  name: "Staging Infrastructure"
                  cloud_provider: "azure"
                  region: "eastus"
                  resources:
                    - type: "VM"
                      config:
                        instance_type: "Standard_B1s"
                        image: "Canonical:UbuntuServer:18.04-LTS:latest"
                    - type: "database"
                      config:
                        engine: "mysql"
                        version: "8.0"
                        instance_class: "B1ms"
                  monitoring: false
                  status: "active"
                  tags: ["staging", "internal"]
                  created_at: "2023-05-18T12:34:56Z"
                  updated_at: "2023-05-18T12:34:56Z"
      security:
        - BearerAuth: []
  /infrastructures:
    post:
      tags:
        - Infrastructure
      summary: Create new infrastructure
      description: Create new infrastructure resources in the Nebularis platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the infrastructure
                description:
                  type: string
                  description: A brief description of the infrastructure
                resources:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [vm, network, disk]
                        description: The type of the resource (e.g., vm, network, disk)
                      configuration:
                        oneOf:
                          - title: VM Configuration
                            type: object
                            properties:
                              vm_type:
                                type: string
                                description: The type of the VM (e.g., t2.micro, m5.large)
                              image_id:
                                type: string
                                description: The image ID to use for the VM
                              instance_size:
                                type: string
                                description: The size of the instance
                              region:
                                type: string
                                description: The region to deploy the VM
                              availability_zone:
                                type: string
                                description: The availability zone to deploy the VM
                              tags:
                                type: array
                                items:
                                  type: string
                                description: A list of tags associated with the VM
                              network_id:
                                type: string
                                description: The network ID to attach the VM
                            required: [vm_type, image_id, instance_size, region, availability_zone]
                          - title: Network Configuration
                            type: object
                            properties:
                              cidr_block:
                                type: string
                                description: The CIDR block for the network
                              subnets:
                                type: array
                                items:
                                  type: string
                                description: The subnets in the network
                              security_groups:
                                type: array
                                items:
                                  type: string
                                description: The security groups associated with the network
                            required: [cidr_block, subnets, security_groups]
                          - title: Disk Configuration
                            type: object
                            properties:
                              size:
                                type: integer
                                description: The size of the disk in GB
                              type:
                                type: string
                                enum: [ssd, hdd]
                                description: The type of the disk
                              attached_vm_id:
                                type: string
                                description: The VM ID to which the disk is attached
                            required: [size, type, attached_vm_id]
              required:
                - name
                - description
                - resources
            example:
              name: "My Infrastructure"
              description: "This is a description of my infrastructure."
              resources:
                - type: "vm"
                  configuration:
                    vm_type: "t2.micro"
                    image_id: "ami-12345678"
                    instance_size: "small"
                    region: "us-west-2"
                    availability_zone: "us-west-2a"
                    tags: ["web-server", "production"]
                    network_id: "net-12345678"
                - type: "network"
                  configuration:
                    cidr_block: "10.0.0.0/16"
                    subnets: ["10.0.1.0/24", "10.0.2.0/24"]
                    security_groups: ["sg-12345678", "sg-87654321"]
                - type: "disk"
                  configuration:
                    size: 100
                    type: "ssd"
                    attached_vm_id: "i-12345678"
      responses:
        201:
          description: Infrastructure created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the new infrastructure
                  name:
                    type: string
                    description: The name of the new infrastructure
                  description:
                    type: string
                    description: The description of the new infrastructure
                  resources:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the resource
                        type:
                          type: string
                          description: The type of the resource
                        configuration:
                          type: object
                          description: The configuration details of the resource
              example:
                id: "infra_123"
                name: "My Infrastructure"
                description: "This is a description of my infrastructure."
                resources:
                  - id: "vm_123"
                    type: "vm"
                    configuration:
                      vm_type: "t2.micro"
                      image_id: "ami-12345678"
                      instance_size: "small"
                      region: "us-west-2"
                      availability_zone: "us-west-2a"
                      tags: ["web-server", "production"]
                      network_id: "net-12345678"
                  - id: "net_123"
                    type: "network"
                    configuration:
                      cidr_block: "10.0.0.0/16"
                      subnets: ["10.0.1.0/24", "10.0.2.0/24"]
                      security_groups: ["sg-12345678", "sg-87654321"]
                  - id: "disk_123"
                    type: "disk"
                    configuration:
                      size: 100
                      type: "ssd"
                      attached_vm_id: "i-12345678"
        400:
          description: Invalid input
      security:
        - BearerAuth: []
  /infrastructures/{id}:
    get:
      tags:
        - Infrastructure
      summary: Get infrastructure information
      description: Retrieve details of a specific infrastructure.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the infrastructure
      responses:
        200:
          description: Infrastructure information retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the infrastructure
                  name:
                    type: string
                    description: The name of the infrastructure
                  description:
                    type: string
                    description: The description of the infrastructure
                  resources:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the resource
                        type:
                          type: string
                          description: The type of the resource
                        configuration:
                          oneOf:
                            - title: VM Configuration
                              type: object
                              properties:
                                vm_type:
                                  type: string
                                  description: The type of the VM (e.g., t2.micro, m5.large)
                                image_id:
                                  type: string
                                  description: The image ID to use for the VM
                                instance_size:
                                  type: string
                                  description: The size of the instance
                                region:
                                  type: string
                                  description: The region to deploy the VM
                                availability_zone:
                                  type: string
                                  description: The availability zone to deploy the VM
                                tags:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of tags associated with the VM
                                network_id:
                                  type: string
                                  description: The network ID to attach the VM
                            - title: Network Configuration
                              type: object
                              properties:
                                cidr_block:
                                  type: string
                                  description: The CIDR block for the network
                                subnets:
                                  type: array
                                  items:
                                    type: string
                                  description: The subnets in the network
                                security_groups:
                                  type: array
                                  items:
                                    type: string
                                  description: The security groups associated with the network
                            - title: Disk Configuration
                              type: object
                              properties:
                                size:
                                  type: integer
                                  description: The size of the disk in GB
                                type:
                                  type: string
                                  enum: [ssd, hdd]
                                  description: The type of the disk
                                attached_vm_id:
                                  type: string
                                  description: The VM ID to which the disk is attached
              example:
                id: "infra_123"
                name: "My Infrastructure"
                description: "This is a description of my infrastructure."
                resources:
                  - id: "vm_123"
                    type: "vm"
                    configuration:
                      vm_type: "t2.micro"
                      image_id: "ami-12345678"
                      instance_size: "small"
                      region: "us-west-2"
                      availability_zone: "us-west-2a"
                      tags: ["web-server", "production"]
                      network_id: "net-12345678"
                  - id: "net_123"
                    type: "network"
                    configuration:
                      cidr_block: "10.0.0.0/16"
                      subnets: ["10.0.1.0/24", "10.0.2.0/24"]
                      security_groups: ["sg-12345678", "sg-87654321"]
                  - id: "disk_123"
                    type: "disk"
                    configuration:
                      size: 100
                      type: "ssd"
                      attached_vm_id: "i-12345678"
        404:
          description: Infrastructure not found
      security:
        - BearerAuth: []
    patch:
      tags:
        - Infrastructure
      summary: Update infrastructure
      description: Update the details of a specific infrastructure.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the infrastructure
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new name for the infrastructure
                description:
                  type: string
                  description: The new description for the infrastructure
                resources:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier of the resource
                      type:
                        type: string
                        enum: [vm, network, disk]
                        description: The type of the resource (e.g., vm, network, disk)
                      configuration:
                        oneOf:
                          - title: VM Configuration
                            type: object
                            properties:
                              vm_type:
                                type: string
                                description: The type of the VM (e.g., t2.micro, m5.large)
                              image_id:
                                type: string
                                description: The image ID to use for the VM
                              instance_size:
                                type: string
                                description: The size of the instance
                              region:
                                type: string
                                description: The region to deploy the VM
                              availability_zone:
                                type: string
                                description: The availability zone to deploy the VM
                              tags:
                                type: array
                                items:
                                  type: string
                                description: A list of tags associated with the VM
                              network_id:
                                type: string
                                description: The network ID to attach the VM
                          - title: Network Configuration
                            type: object
                            properties:
                              cidr_block:
                                type: string
                                description: The CIDR block for the network
                              subnets:
                                type: array
                                items:
                                  type: string
                                description: The subnets in the network
                              security_groups:
                                type: array
                                items:
                                  type: string
                                description: The security groups associated with the network
                          - title: Disk Configuration
                            type: object
                            properties:
                              size:
                                type: integer
                                description: The size of the disk in GB
                              type:
                                type: string
                                enum: [ssd, hdd]
                                description: The type of the disk
                              attached_vm_id:
                                type: string
                                description: The VM ID to which the disk is attached
              required:
                - name
                - description
                - resources
            example:
              name: "Updated Infrastructure"
              description: "This is an updated description of my infrastructure."
              resources:
                - id: "vm_123"
                  type: "vm"
                  configuration:
                    vm_type: "t2.micro"
                    image_id: "ami-87654321"
                    instance_size: "medium"
                    region: "us-east-1"
                    availability_zone: "us-east-1b"
                    tags: ["app-server", "production"]
                    network_id: "net-87654321"
                - id: "net_123"
                  type: "network"
                  configuration:
                    cidr_block: "10.0.1.0/24"
                    subnets: ["10.0.1.0/24", "10.0.2.0/24"]
                    security_groups: ["sg-87654321", "sg-12345678"]
                - id: "disk_123"
                  type: "disk"
                  configuration:
                    size: 200
                    type: "ssd"
                    attached_vm_id: "i-87654321"
      responses:
        200:
          description: Infrastructure updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the updated infrastructure
                  name:
                    type: string
                    description: The name of the updated infrastructure
                  description:
                    type: string
                    description: The description of the updated infrastructure
                  resources:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the resource
                        type:
                          type: string
                          description: The type of the resource
                        configuration:
                          oneOf:
                            - title: VM Configuration
                              type: object
                              properties:
                                vm_type:
                                  type: string
                                  description: The type of the VM (e.g., t2.micro, m5.large)
                                image_id:
                                  type: string
                                  description: The image ID to use for the VM
                                instance_size:
                                  type: string
                                  description: The size of the instance
                                region:
                                  type: string
                                  description: The region to deploy the VM
                                availability_zone:
                                  type: string
                                  description: The availability zone to deploy the VM
                                tags:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of tags associated with the VM
                                network_id:
                                  type: string
                                  description: The network ID to attach the VM
                            - title: Network Configuration
                              type: object
                              properties:
                                cidr_block:
                                  type: string
                                  description: The CIDR block for the network
                                subnets:
                                  type: array
                                  items:
                                    type: string
                                  description: The subnets in the network
                                security_groups:
                                  type: array
                                  items:
                                    type: string
                                  description: The security groups associated with the network
                            - title: Disk Configuration
                              type: object
                              properties:
                                size:
                                  type: integer
                                  description: The size of the disk in GB
                                type:
                                  type: string
                                  enum: [ssd, hdd]
                                  description: The type of the disk
                                attached_vm_id:
                                  type: string
                                  description: The VM ID to which the disk is attached
              example:
                id: "infra_123"
                name: "Updated Infrastructure"
                description: "This is an updated description of my infrastructure."
                resources:
                  - id: "vm_123"
                    type: "vm"
                    configuration:
                      vm_type: "t2.micro"
                      image_id: "ami-87654321"
                      instance_size: "medium"
                      region: "us-east-1"
                      availability_zone: "us-east-1b"
                      tags: ["app-server", "production"]
                      network_id: "net-87654321"
                  - id: "net_123"
                    type: "network"
                    configuration:
                      cidr_block: "10.0.1.0/24"
                      subnets: ["10.0.1.0/24", "10.0.2.0/24"]
                      security_groups: ["sg-87654321", "sg-12345678"]
                  - id: "disk_123"
                    type: "disk"
                    configuration:
                      size: 200
                      type: "ssd"
                      attached_vm_id: "i-87654321"
        400:
          description: Invalid input
        404:
          description: Infrastructure not found
      security:
        - BearerAuth: []
    delete:
      tags:
        - Infrastructure
      summary: Delete infrastructure
      description: Delete a specific infrastructure.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the infrastructure
      responses:
        204:
          description: Infrastructure deleted successfully
        404:
          description: Infrastructure not found
      security:
        - BearerAuth: []
  /deployments:
    post:
      tags:
        - Deployment
      summary: Create a new deployment
      description: Trigger a new deployment of infrastructure resources in the Nebularis platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the deployment
                description:
                  type: string
                  description: A brief description of the deployment
                infrastructure_id:
                  type: string
                  description: The unique identifier of the infrastructure to be deployed
                environment:
                  type: string
                  enum: [development, staging, production]
                  description: The environment type for the deployment
                strategy:
                  type: string
                  enum: [blue-green, canary, rolling]
                  description: The deployment strategy to be used
                parameters:
                  type: object
                  description: Additional parameters for the deployment
                  properties:
                    version:
                      type: string
                      description: The version of the deployment
                    timeout:
                      type: integer
                      description: Timeout for the deployment process in minutes
                    tags:
                      type: array
                      items:
                        type: string
                      description: A list of tags associated with the deployment
              required:
                - name
                - infrastructure_id
                - environment
                - strategy
            example:
              name: "My Deployment"
              description: "This is a deployment for my infrastructure."
              infrastructure_id: "infra_123"
              environment: "production"
              strategy: "blue-green"
              parameters:
                version: "v1.0.0"
                timeout: 30
                tags: ["release", "production"]
      responses:
        201:
          description: Deployment created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the new deployment
                  name:
                    type: string
                    description: The name of the new deployment
                  description:
                    type: string
                    description: The description of the new deployment
                  infrastructure_id:
                    type: string
                    description: The unique identifier of the infrastructure being deployed
                  environment:
                    type: string
                    description: The environment type for the deployment
                  strategy:
                    type: string
                    description: The deployment strategy used
                  parameters:
                    type: object
                    description: Additional parameters for the deployment
                    properties:
                      version:
                        type: string
                        description: The version of the deployment
                      timeout:
                        type: integer
                        description: Timeout for the deployment process in minutes
                      tags:
                        type: array
                        items:
                          type: string
                        description: A list of tags associated with the deployment
                  status:
                    type: string
                    enum: [pending, in_progress, successful, failed]
                    description: The current status of the deployment
                  created_at:
                    type: string
                    format: date-time
                    description: The date and time when the deployment was created
                  updated_at:
                    type: string
                    format: date-time
                    description: The date and time when the deployment was last updated
              example:
                id: "deploy_123"
                name: "My Deployment"
                description: "This is a deployment for my infrastructure."
                infrastructure_id: "infra_123"
                environment: "production"
                strategy: "blue-green"
                parameters:
                  version: "v1.0.0"
                  timeout: 30
                  tags: ["release", "production"]
                status: "pending"
                created_at: "2023-05-18T12:34:56Z"
                updated_at: "2023-05-18T12:34:56Z"
        400:
          description: Invalid input
      security:
        - BearerAuth: []
    get:
      tags:
        - Deployment
      summary: List all deployments
      description: Retrieve a list of all deployments.
      responses:
        200:
          description: List of deployments retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The unique identifier of the deployment
                    name:
                      type: string
                      description: The name of the deployment
                    description:
                      type: string
                      description: The description of the deployment
                    infrastructure_id:
                      type: string
                      description: The unique identifier of the infrastructure being deployed
                    environment:
                      type: string
                      description: The environment type for the deployment
                    strategy:
                      type: string
                      description: The deployment strategy used
                    parameters:
                      type: object
                      description: Additional parameters for the deployment
                      properties:
                        version:
                          type: string
                          description: The version of the deployment
                        timeout:
                          type: integer
                          description: Timeout for the deployment process in minutes
                        tags:
                          type: array
                          items:
                            type: string
                          description: A list of tags associated with the deployment
                    status:
                      type: string
                      enum: [pending, in_progress, successful, failed]
                      description: The current status of the deployment
                    created_at:
                      type: string
                      format: date-time
                      description: The date and time when the deployment was created
                    updated_at:
                      type: string
                      format: date-time
                      description: The date and time when the deployment was last updated
              example:
                - id: "deploy_123"
                  name: "My Deployment"
                  description: "This is a deployment for my infrastructure."
                  infrastructure_id: "infra_123"
                  environment: "production"
                  strategy: "blue-green"
                  parameters:
                    version: "v1.0.0"
                    timeout: 30
                    tags: ["release", "production"]
                  status: "successful"
                  created_at: "2023-05-18T12:34:56Z"
                  updated_at: "2023-05-18T12:34:56Z"
                - id: "deploy_456"
                  name: "Another Deployment"
                  description: "This is another deployment for my infrastructure."
                  infrastructure_id: "infra_456"
                  environment: "staging"
                  strategy: "rolling"
                  parameters:
                    version: "v2.0.0"
                    timeout: 45
                    tags: ["test", "staging"]
                  status: "in_progress"
                  created_at: "2023-05-19T14:56:23Z"
                  updated_at: "2023-05-19T14:56:23Z"
      security:
        - BearerAuth: []

  /deployments/{id}:
    get:
      tags:
        - Deployment
      summary: Get deployment status
      description: Retrieve the status and details of a specific deployment.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the deployment
      responses:
        200:
          description: Deployment status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the deployment
                  name:
                    type: string
                    description: The name of the deployment
                  description:
                    type: string
                    description: The description of the deployment
                  infrastructure_id:
                    type: string
                    description: The unique identifier of the infrastructure being deployed
                  environment:
                    type: string
                    description: The environment type for the deployment
                  strategy:
                    type: string
                    description: The deployment strategy used
                  parameters:
                    type: object
                    description: Additional parameters for the deployment
                    properties:
                      version:
                        type: string
                        description: The version of the deployment
                      timeout:
                        type: integer
                        description: Timeout for the deployment process in minutes
                      tags:
                        type: array
                        items:
                          type: string
                        description: A list of tags associated with the deployment
                  status:
                    type: string
                    enum: [pending, in_progress, successful, failed]
                    description: The current status of the deployment
                  created_at:
                    type: string
                    format: date-time
                    description: The date and time when the deployment was created
                  updated_at:
                    type: string
                    format: date-time
                    description: The date and time when the deployment was last updated
              example:
                id: "deploy_123"
                name: "My Deployment"
                description: "This is a deployment for my infrastructure."
                infrastructure_id: "infra_123"
                environment: "production"
                strategy: "blue-green"
                parameters:
                  version: "v1.0.0"
                  timeout: 30
                  tags: ["release", "production"]
                status: "in_progress"
                created_at: "2023-05-18T12:34:56Z"
                updated_at: "2023-05-18T12:34:56Z"
        404:
          description: Deployment not found
      security:
        - BearerAuth: []
    delete:
      tags:
        - Deployment
      summary: Delete deployment
      description: Delete a specific deployment.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the deployment
      responses:
        204:
          description: Deployment deleted successfully
        404:
          description: Deployment not found
      security:
        - BearerAuth: []
    patch:
      tags:
        - Deployment
      summary: Update deployment
      description: Update the details of a specific deployment.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the deployment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new name for the deployment
                description:
                  type: string
                  description: The new description for the deployment
                strategy:
                  type: string
                  enum: [blue-green, canary, rolling]
                  description: The new deployment strategy to be used
                parameters:
                  type: object
                  description: Additional parameters for the deployment
                  properties:
                    version:
                      type: string
                      description: The new version of the deployment
                    timeout:
                      type: integer
                      description: Timeout for the deployment process in minutes
                    tags:
                      type: array
                      items:
                        type: string
                      description: A new list of tags associated with the deployment
              required:
                - name
                - description
                - strategy
            example:
              name: "Updated Deployment"
              description: "This is an updated deployment for my infrastructure."
              strategy: "rolling"
              parameters:
                version: "v1.1.0"
                timeout: 40
                tags: ["updated", "release"]
      responses:
        200:
          description: Deployment updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the updated deployment
                  name:
                    type: string
                    description: The name of the updated deployment
                  description:
                    type: string
                    description: The description of the updated deployment
                  infrastructure_id:
                    type: string
                    description: The unique identifier of the infrastructure being deployed
                  environment:
                    type: string
                    description: The environment type for the deployment
                  strategy:
                    type: string
                    description: The deployment strategy used
                  parameters:
                    type: object
                    description: Additional parameters for the deployment
                    properties:
                      version:
                        type: string
                        description: The version of the deployment
                      timeout:
                        type: integer
                        description: Timeout for the deployment process in minutes
                      tags:
                        type: array
                        items:
                          type: string
                        description: A list of tags associated with the deployment
                  status:
                    type: string
                    enum: [pending, in_progress, successful, failed]
                    description: The current status of the deployment
                  created_at:
                    type: string
                    format: date-time
                    description: The date and time when the deployment was created
                  updated_at:
                    type: string
                    format: date-time
                    description: The date and time when the deployment was last updated
              example:
                id: "deploy_123"
                name: "Updated Deployment"
                description: "This is an updated deployment for my infrastructure."
                infrastructure_id: "infra_123"
                environment: "production"
                strategy: "rolling"
                parameters:
                  version: "v1.1.0"
                  timeout: 40
                  tags: ["updated", "release"]
                status: "in_progress"
                created_at: "2023-05-18T12:34:56Z"
                updated_at: "2023-05-18T12:34:56Z"
        400:
          description: Invalid input
        404:
          description: Deployment not found
      security:
        - BearerAuth: []
  /metrics/{resourceId}:
    get:
      tags:
        - Monitoring
      summary: Get resource metrics
      description: Retrieve metrics for a specific resource.
      parameters:
        - name: resourceId
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the resource
        - name: metric_type
          in: query
          required: false
          schema:
            type: string
            enum: [cpu, memory, disk_io, network]
            description: The type of metric to retrieve (e.g., cpu, memory, disk_io, network)
        - name: start_time
          in: query
          required: false
          schema:
            type: string
            format: date-time
            description: The start time for the metrics query in ISO 8601 format
        - name: end_time
          in: query
          required: false
          schema:
            type: string
            format: date-time
            description: The end time for the metrics query in ISO 8601 format
      responses:
        200:
          description: Metrics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  cpu_usage:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                          description: The timestamp of the metric
                        value:
                          type: number
                          format: float
                          description: The CPU usage percentage
                  memory_usage:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                          description: The timestamp of the metric
                        value:
                          type: number
                          format: float
                          description: The memory usage percentage
                  disk_io:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                          description: The timestamp of the metric
                        read:
                          type: number
                          format: float
                          description: Disk read I/O
                        write:
                          type: number
                          format: float
                          description: Disk write I/O
                  network:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                          description: The timestamp of the metric
                        inbound:
                          type: number
                          format: float
                          description: Network inbound traffic
                        outbound:
                          type: number
                          format: float
                          description: Network outbound traffic
              example:
                cpu_usage:
                  - timestamp: "2023-05-18T12:34:56Z"
                    value: 75.3
                  - timestamp: "2023-05-18T12:35:56Z"
                    value: 76.1
                memory_usage:
                  - timestamp: "2023-05-18T12:34:56Z"
                    value: 64.5
                  - timestamp: "2023-05-18T12:35:56Z"
                    value: 65.2
                disk_io:
                  - timestamp: "2023-05-18T12:34:56Z"
                    read: 150.0
                    write: 80.5
                  - timestamp: "2023-05-18T12:35:56Z"
                    read: 155.2
                    write: 82.1
                network:
                  - timestamp: "2023-05-18T12:34:56Z"
                    inbound: 500.0
                    outbound: 300.0
                  - timestamp: "2023-05-18T12:35:56Z"
                    inbound: 520.1
                    outbound: 310.3
        404:
          description: Resource not found
      security:
        - BearerAuth: []
  /alerts:
    get:
      tags:
        - Monitoring
      summary: Get all alerts
      description: Retrieve a list of all active alerts.
      parameters:
        - name: resource_id
          in: query
          required: false
          schema:
            type: string
            description: The unique identifier of the resource
        - name: metric
          in: query
          required: false
          schema:
            type: string
            description: The metric being monitored (e.g., cpu_usage, memory_usage)
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [active, resolved]
            description: The status of the alerts (e.g., active, resolved)
        - name: start_time
          in: query
          required: false
          schema:
            type: string
            format: date-time
            description: Filter alerts created after this time (in ISO 8601 format)
        - name: end_time
          in: query
          required: false
          schema:
            type: string
            format: date-time
            description: Filter alerts created before this time (in ISO 8601 format)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            description: Limit the number of alerts returned in the response
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            description: The number of alerts to skip before starting to collect the result set
      responses:
        200:
          description: Alerts retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The unique identifier of the alert
                    resource_id:
                      type: string
                      description: The unique identifier of the resource
                    metric:
                      type: string
                      description: The metric being monitored
                    condition:
                      type: string
                      description: The condition for the alert (e.g., greater than, less than)
                    threshold:
                      type: number
                      format: float
                      description: The threshold value for the alert
                    status:
                      type: string
                      enum: [active, resolved]
                      description: The status of the alert
                    created_at:
                      type: string
                      format: date-time
                      description: The date and time when the alert was created
                    updated_at:
                      type: string
                      format: date-time
                      description: The date and time when the alert was last updated
              example:
                - id: "alert_123"
                  resource_id: "resource_123"
                  metric: "cpu_usage"
                  condition: ">"
                  threshold: 80.0
                  status: "active"
                  created_at: "2023-05-18T12:34:56Z"
                  updated_at: "2023-05-18T12:34:56Z"
                - id: "alert_456"
                  resource_id: "resource_456"
                  metric: "memory_usage"
                  condition: ">"
                  threshold: 70.0
                  status: "resolved"
                  created_at: "2023-05-18T14:56:23Z"
                  updated_at: "2023-05-18T15:00:00Z"
        404:
          description: Alerts not found
      security:
        - BearerAuth: []
    post:
      tags:
        - Monitoring
      summary: Create a new alert
      description: Create a new alert for monitoring a specific metric or condition.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resource_id:
                  type: string
                  description: The unique identifier of the resource to be monitored
                metric:
                  type: string
                  description: The metric to be monitored (e.g., cpu_usage, memory_usage)
                condition:
                  type: string
                  description: The condition for the alert (e.g., greater than, less than)
                threshold:
                  type: number
                  format: float
                  description: The threshold value for the alert
                description:
                  type: string
                  description: A brief description of the alert
              required:
                - resource_id
                - metric
                - condition
                - threshold
            example:
              resource_id: "resource_123"
              metric: "cpu_usage"
              condition: ">"
              threshold: 80.0
              description: "Alert when CPU usage exceeds 80%"
      responses:
        201:
          description: Alert created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the new alert
                  resource_id:
                    type: string
                    description: The unique identifier of the resource being monitored
                  metric:
                    type: string
                    description: The metric being monitored
                  condition:
                    type: string
                    description: The condition for the alert
                  threshold:
                    type: number
                    format: float
                    description: The threshold value for the alert
                  description:
                    type: string
                    description: A brief description of the alert
                  status:
                    type: string
                    enum: [active, resolved]
                    description: The status of the alert
                  created_at:
                    type: string
                    format: date-time
                    description: The date and time when the alert was created
                  updated_at:
                    type: string
                    format: date-time
                    description: The date and time when the alert was last updated
              example:
                id: "alert_789"
                resource_id: "resource_123"
                metric: "cpu_usage"
                condition: ">"
                threshold: 80.0
                description: "Alert when CPU usage exceeds 80%"
                status: "active"
                created_at: "2023-05-18T12:34:56Z"
                updated_at: "2023-05-18T12:34:56Z"
        400:
          description: Invalid input
      security:
        - BearerAuth: []
  /alerts/{id}:
    delete:
      tags:
        - Monitoring
      summary: Delete alert
      description: Delete an existing alert by its identifier.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the alert
      responses:
        204:
          description: Alert deleted successfully
        404:
          description: Alert not found
      security:
        - BearerAuth: []
  /costs/{resourceId}:
    get:
      tags:
        - Cost Management
      summary: Get resource costs
      description: Retrieve cost data for a specific resource.
      parameters:
        - name: resourceId
          in: path
          required: true
          schema:
            type: string
            description: The unique identifier of the resource
        - name: cost_type
          in: query
          required: false
          schema:
            type: string
            enum: [compute, storage, network, total]
            description: The type of cost to retrieve (e.g., compute, storage, network, total)
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
            description: The start date for the cost query in YYYY-MM-DD format
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
            description: The end date for the cost query in YYYY-MM-DD format
        - name: granularity
          in: query
          required: false
          schema:
            type: string
            enum: [daily, monthly]
            description: The granularity of the cost data (e.g., daily, monthly)
      responses:
        200:
          description: Cost data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_id:
                    type: string
                    description: The unique identifier of the resource
                  costs:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                          description: The date for the cost entry
                        cost_type:
                          type: string
                          description: The type of cost (e.g., compute, storage, network, total)
                        amount:
                          type: number
                          format: float
                          description: The cost amount for the specified date
              example:
                resource_id: "resource_123"
                costs:
                  - date: "2023-05-01"
                    cost_type: "compute"
                    amount: 15.0
                  - date: "2023-05-01"
                    cost_type: "storage"
                    amount: 5.0
                  - date: "2023-05-01"
                    cost_type: "network"
                    amount: 2.5
                  - date: "2023-05-02"
                    cost_type: "compute"
                    amount: 16.0
                  - date: "2023-05-02"
                    cost_type: "storage"
                    amount: 5.5
                  - date: "2023-05-02"
                    cost_type: "network"
                    amount: 3.0
        404:
          description: Resource not found
      security:
        - BearerAuth: []
  /costs:
    get:
      tags:
        - Cost Management
      summary: Get all costs
      description: Retrieve a summary of all costs across resources and services.
      parameters:
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
            description: The start date for the cost query in YYYY-MM-DD format
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
            description: The end date for the cost query in YYYY-MM-DD format
        - name: granularity
          in: query
          required: false
          schema:
            type: string
            enum: [daily, monthly]
            description: The granularity of the cost data (e.g., daily, monthly)
      responses:
        200:
          description: Summary of costs retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_cost:
                    type: number
                    format: float
                    description: The total cost for the specified period
                  costs_by_resource:
                    type: array
                    items:
                      type: object
                      properties:
                        resource_id:
                          type: string
                          description: The unique identifier of the resource
                        resource_name:
                          type: string
                          description: The name of the resource
                        total_cost:
                          type: number
                          format: float
                          description: The total cost for the resource
                        cost_breakdown:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                format: date
                                description: The date for the cost entry
                              cost_type:
                                type: string
                                description: The type of cost (e.g., compute, storage, network, total)
                              amount:
                                type: number
                                format: float
                                description: The cost amount for the specified date
              example:
                total_cost: 5000.0
                costs_by_resource:
                  - resource_id: "resource_123"
                    resource_name: "VM Instance A"
                    total_cost: 1500.0
                    cost_breakdown:
                      - date: "2023-05-01"
                        cost_type: "compute"
                        amount: 50.0
                      - date: "2023-05-01"
                        cost_type: "storage"
                        amount: 20.0
                      - date: "2023-05-02"
                        cost_type: "compute"
                        amount: 55.0
                      - date: "2023-05-02"
                        cost_type: "storage"
                        amount: 22.0
                  - resource_id: "resource_456"
                    resource_name: "Database Instance B"
                    total_cost: 3500.0
                    cost_breakdown:
                      - date: "2023-05-01"
                        cost_type: "storage"
                        amount: 200.0
                      - date: "2023-05-01"
                        cost_type: "network"
                        amount: 100.0
                      - date: "2023-05-02"
                        cost_type: "storage"
                        amount: 210.0
                      - date: "2023-05-02"
                        cost_type: "network"
                        amount: 110.0
        400:
          description: Invalid input
      security:
        - BearerAuth: []
  /budgets:
    get:
      tags:
        - Cost Management
      summary: List all budgets
      description: Retrieve a list of all budgets for managing and tracking cloud expenses.
      parameters:
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
            description: Filter budgets created after this date in YYYY-MM-DD format
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
            description: Filter budgets created before this date in YYYY-MM-DD format
      responses:
        200:
          description: List of budgets retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The unique identifier of the budget
                    name:
                      type: string
                      description: The name of the budget
                    description:
                      type: string
                      description: The description of the budget
                    amount:
                      type: number
                      format: float
                      description: The total amount allocated for the budget
                    start_date:
                      type: string
                      format: date
                      description: The start date for the budget
                    end_date:
                      type: string
                      format: date
                      description: The end date for the budget
                    notifications:
                      type: array
                      items:
                        type: object
                        properties:
                          threshold:
                            type: number
                            format: float
                            description: The threshold percentage for notifications
                          email:
                            type: string
                            description: The email address to send notifications to
                    created_at:
                      type: string
                      format: date-time
                      description: The date and time when the budget was created
                    updated_at:
                      type: string
                      format: date-time
                      description: The date and time when the budget was last updated
              example:
                - id: "budget_123"
                  name: "Production Budget"
                  description: "Budget for production environment"
                  amount: 5000.0
                  start_date: "2023-06-01"
                  end_date: "2023-12-31"
                  notifications:
                    - threshold: 80.0
                      email: "admin@example.com"
                    - threshold: 100.0
                      email: "alerts@example.com"
                  created_at: "2023-05-18T12:34:56Z"
                  updated_at: "2023-05-18T12:34:56Z"
                - id: "budget_456"
                  name: "Development Budget"
                  description: "Budget for development environment"
                  amount: 3000.0
                  start_date: "2023-07-01"
                  end_date: "2023-12-31"
                  notifications:
                    - threshold: 75.0
                      email: "dev@example.com"
                    - threshold: 90.0
                      email: "dev-alerts@example.com"
                  created_at: "2023-06-01T12:34:56Z"
                  updated_at: "2023-06-01T12:34:56Z"
        400:
[...]
