<style>
  :root,
  .light,
  .light-theme {
    --accent-1: #f9fcfd;
    --accent-2: #f3f8fb;
    --accent-3: #e2f3fc;
    --accent-4: #d2ecfa;
    --accent-5: #c1e3f5;
    --accent-6: #aed8ee;
    --accent-7: #95c9e3;
    --accent-8: #6bb3d6;
    --accent-9: #4490b3;
    --accent-10: #3683a6;
    --accent-11: #257597;
    --accent-12: #193644;

    --accent-a1: #2aa9d406;
    --accent-a2: #157fbf0c;
    --accent-a3: #089eed1d;
    --accent-a4: #0599e82d;
    --accent-a5: #048fd93e;
    --accent-a6: #0387cc51;
    --accent-a7: #027fbe6a;
    --accent-a8: #007cb994;
    --accent-a9: #006898bb;
    --accent-a10: #00628ec9;
    --accent-a11: #005e85da;
    --accent-a12: #002030e6;

    --accent-contrast: #fff;
    --accent-surface: #f0f6facc;
    --accent-indicator: #4490b3;
    --accent-track: #4490b3;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root,
      .light,
      .light-theme {
        --accent-1: oklch(98.9% 0.0031 230.7);
        --accent-2: oklch(97.7% 0.0072 230.7);
        --accent-3: oklch(95.4% 0.0213 230.7);
        --accent-4: oklch(92.8% 0.0331 230.7);
        --accent-5: oklch(89.7% 0.0431 230.7);
        --accent-6: oklch(86% 0.0529 230.7);
        --accent-7: oklch(80.8% 0.0655 230.7);
        --accent-8: oklch(73.3% 0.0881 230.7);
        --accent-9: oklch(62% 0.0915 230.7);
        --accent-10: oklch(57.8% 0.0915 230.7);
        --accent-11: oklch(53% 0.0915 230.7);
        --accent-12: oklch(31.7% 0.0432 230.7);

        --accent-a1: color(display-p3 0.0157 0.5059 0.7529 / 0.016);
        --accent-a2: color(display-p3 0.0157 0.4078 0.702 / 0.04);
        --accent-a3: color(display-p3 0.0078 0.5216 0.8784 / 0.099);
        --accent-a4: color(display-p3 0.0039 0.5137 0.8471 / 0.154);
        --accent-a5: color(display-p3 0.0039 0.4824 0.7961 / 0.213);
        --accent-a6: color(display-p3 0.0039 0.4588 0.749 / 0.284);
        --accent-a7: color(display-p3 0.0039 0.4275 0.6784 / 0.371);
        --accent-a8: color(display-p3 0 0.4078 0.6588 / 0.512);
        --accent-a9: color(display-p3 0 0.3255 0.5294 / 0.654);
        --accent-a10: color(display-p3 0 0.302 0.4902 / 0.705);
        --accent-a11: color(display-p3 0 0.2784 0.451 / 0.76);
        --accent-a12: color(display-p3 0 0.0941 0.1569 / 0.875);

        --accent-contrast: #fff;
        --accent-surface: color(display-p3 0.9451 0.9647 0.9804 / 0.8);
        --accent-indicator: oklch(62% 0.0915 230.7);
        --accent-track: oklch(62% 0.0915 230.7);
      }
    }
  }

  .dark,
  .dark-theme {
    --accent-1: #0a111c;
    --accent-2: #0f1925;
    --accent-3: #102746;
    --accent-4: #0b3160;
    --accent-5: #143d72;
    --accent-6: #1f4b84;
    --accent-7: #2a5a99;
    --accent-8: #326cb7;
    --accent-9: #2d85f3;
    --accent-10: #1d78e5;
    --accent-11: #7fb7ff;
    --accent-12: #cee3ff;

    --accent-a1: #0012fb0c;
    --accent-a2: #006ef916;
    --accent-a3: #0d74ff39;
    --accent-a4: #0071ff55;
    --accent-a5: #197dff68;
    --accent-a6: #2e88fd7c;
    --accent-a7: #3d91ff92;
    --accent-a8: #4194ffb2;
    --accent-a9: #2e8bfef3;
    --accent-a10: #1e84fee4;
    --accent-a11: #7fb7ff;
    --accent-a12: #cee3ff;

    --accent-contrast: #fff;
    --accent-surface: #0e213980;
    --accent-indicator: #2d85f3;
    --accent-track: #2d85f3;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark,
      .dark-theme {
        --accent-1: oklch(17.8% 0.0243 256.3);
        --accent-2: oklch(20.9% 0.0284 256.3);
        --accent-3: oklch(27.2% 0.0648 256.3);
        --accent-4: oklch(31.7% 0.0937 256.3);
        --accent-5: oklch(36.4% 0.1025 256.3);
        --accent-6: oklch(41.2% 0.1071 256.3);
        --accent-7: oklch(46.8% 0.1157 256.3);
        --accent-8: oklch(53% 0.1331 256.3);
        --accent-9: oklch(62.3% 0.1844 256.3);
        --accent-10: oklch(58.2% 0.1844 256.3);
        --accent-11: oklch(77.1% 0.1245 256.3);
        --accent-12: oklch(90.8% 0.0457 256.3);

        --accent-a1: color(display-p3 0 0.0706 0.9804 / 0.043);
        --accent-a2: color(display-p3 0.0667 0.4588 1 / 0.08);
        --accent-a3: color(display-p3 0.1608 0.451 1 / 0.215);
        --accent-a4: color(display-p3 0.1255 0.4471 0.9961 / 0.32);
        --accent-a5: color(display-p3 0.2078 0.498 1 / 0.391);
        --accent-a6: color(display-p3 0.2863 0.549 1 / 0.467);
        --accent-a7: color(display-p3 0.3294 0.5765 0.9961 / 0.551);
        --accent-a8: color(display-p3 0.3451 0.5882 1 / 0.677);
        --accent-a9: color(display-p3 0.298 0.5569 1 / 0.916);
        --accent-a10: color(display-p3 0.2588 0.5294 1 / 0.862);
        --accent-a11: color(display-p3 0.5608 0.7294 1 / 0.975);
        --accent-a12: color(display-p3 0.8353 0.898 1 / 0.988);

        --accent-contrast: #fff;
        --accent-surface: color(display-p3 0.0627 0.1176 0.2118 / 0.5);
        --accent-indicator: oklch(62.3% 0.1844 256.3);
        --accent-track: oklch(62.3% 0.1844 256.3);
      }
    }
  }

  :root,
  .light,
  .light-theme {
    --gray-1: #fbfbfc;
    --gray-2: #f7f8fa;
    --gray-3: #eeeff3;
    --gray-4: #e6e6ec;
    --gray-5: #dfdfe6;
    --gray-6: #d7d7e0;
    --gray-7: #ccccd7;
    --gray-8: #b8b9c8;
    --gray-9: #8a8b99;
    --gray-10: #80808e;
    --gray-11: #61616d;
    --gray-12: #1f1f26;

    --gray-a1: #3f3f7f04;
    --gray-a2: #1f3f7f08;
    --gray-a3: #0f1e5a11;
    --gray-a4: #0a0a4719;
    --gray-a5: #07073f20;
    --gray-a6: #06063f28;
    --gray-a7: #04043b33;
    --gray-a8: #03073d47;
    --gray-a9: #02042275;
    --gray-a10: #02021e7f;
    --gray-a11: #0000149e;
    --gray-a12: #000008e0;

    --gray-contrast: #ffffff;
    --gray-surface: #ffffffcc;
    --gray-indicator: #8a8b99;
    --gray-track: #8a8b99;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root,
      .light,
      .light-theme {
        --gray-1: oklch(98.8% 0.0017 284.3);
        --gray-2: oklch(97.9% 0.0038 284.3);
        --gray-3: oklch(95.2% 0.0058 284.3);
        --gray-4: oklch(92.7% 0.0079 284.3);
        --gray-5: oklch(90.6% 0.0099 284.3);
        --gray-6: oklch(88.3% 0.012 284.3);
        --gray-7: oklch(84.8% 0.0153 284.3);
        --gray-8: oklch(78.9% 0.0209 284.3);
        --gray-9: oklch(64% 0.0209 284.3);
        --gray-10: oklch(60.4% 0.0209 284.3);
        --gray-11: oklch(49.8% 0.0188 284.3);
        --gray-12: oklch(24.1% 0.014 284.3);

        --gray-a1: color(display-p3 0.0196 0.0196 0.3451 / 0.012);
        --gray-a2: color(display-p3 0.0157 0.1569 0.4392 / 0.028);
        --gray-a3: color(display-p3 0.0039 0.0627 0.3137 / 0.063);
        --gray-a4: color(display-p3 0.0078 0.0078 0.2118 / 0.095);
        --gray-a5: color(display-p3 0.0078 0.0078 0.2 / 0.123);
        --gray-a6: color(display-p3 0.0039 0.0039 0.2078 / 0.154);
        --gray-a7: color(display-p3 0.0039 0.0039 0.2 / 0.197);
        --gray-a8: color(display-p3 0.0039 0.0196 0.2157 / 0.276);
        --gray-a9: color(display-p3 0.0039 0.0118 0.1216 / 0.457);
        --gray-a10: color(display-p3 0.0039 0.0039 0.1059 / 0.497);
        --gray-a11: color(display-p3 0 0 0.0706 / 0.619);
        --gray-a12: color(display-p3 0 0 0.0275 / 0.878);

        --gray-contrast: #ffffff;
        --gray-surface: color(display-p3 1 1 1 / 80%);
        --gray-indicator: oklch(64% 0.0209 284.3);
        --gray-track: oklch(64% 0.0209 284.3);
      }
    }
  }

  .dark,
  .dark-theme {
    --gray-1: #101017;
    --gray-2: #18181f;
    --gray-3: #21212c;
    --gray-4: #282834;
    --gray-5: #2f2f3b;
    --gray-6: #383844;
    --gray-7: #454652;
    --gray-8: #5f5f6c;
    --gray-9: #6c6c7a;
    --gray-10: #797a88;
    --gray-11: #b2b2c1;
    --gray-12: #ededf5;

    --gray-a1: #0000ec07;
    --gray-a2: #8888ff0f;
    --gray-a3: #9e9eff1d;
    --gray-a4: #acacfc26;
    --gray-a5: #bbbbff2d;
    --gray-a6: #c6c6fe37;
    --gray-a7: #cfd3fe46;
    --gray-a8: #dcdcfe62;
    --gray-a9: #dfdffe71;
    --gray-a10: #e1e3ff80;
    --gray-a11: #ebebffbd;
    --gray-a12: #f6f6fef5;

    --gray-contrast: #ffffff;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #6c6c7a;
    --gray-track: #6c6c7a;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark,
      .dark-theme {
        --gray-1: oklch(17.8% 0.014 284.3);
        --gray-2: oklch(21.3% 0.0143 284.3);
        --gray-3: oklch(25.3% 0.0201 284.3);
        --gray-4: oklch(28.3% 0.0209 284.3);
        --gray-5: oklch(31.1% 0.0209 284.3);
        --gray-6: oklch(34.6% 0.0209 284.3);
        --gray-7: oklch(39.8% 0.0209 284.3);
        --gray-8: oklch(49% 0.0209 284.3);
        --gray-9: oklch(53.7% 0.0209 284.3);
        --gray-10: oklch(58.3% 0.0209 284.3);
        --gray-11: oklch(76.8% 0.0209 284.3);
        --gray-12: oklch(94.9% 0.0098 284.3);

        --gray-a1: color(display-p3 0 0 0.9608 / 0.022);
        --gray-a2: color(display-p3 0.5686 0.5686 0.9961 / 0.055);
        --gray-a3: color(display-p3 0.6392 0.6392 0.9961 / 0.11);
        --gray-a4: color(display-p3 0.698 0.698 1 / 0.143);
        --gray-a5: color(display-p3 0.749 0.749 0.9961 / 0.173);
        --gray-a6: color(display-p3 0.7922 0.7922 0.9961 / 0.211);
        --gray-a7: color(display-p3 0.8275 0.8431 1 / 0.269);
        --gray-a8: color(display-p3 0.8706 0.8706 0.9961 / 0.379);
        --gray-a9: color(display-p3 0.8824 0.8824 1 / 0.437);
        --gray-a10: color(display-p3 0.8863 0.8941 1 / 0.496);
        --gray-a11: color(display-p3 0.9255 0.9255 1 / 0.736);
        --gray-a12: color(display-p3 0.9686 0.9686 1 / 0.954);

        --gray-contrast: #ffffff;
        --gray-surface: color(display-p3 0 0 0 / 5%);
        --gray-indicator: oklch(53.7% 0.0209 284.3);
        --gray-track: oklch(53.7% 0.0209 284.3);
      }
    }
  }

  :root {
    --background-color: #ffffff;
  }

  .dark {
    --background-color: var(--gray-1);
  }
</style>
