<style>
  {{ color_scale_css(project.settings.theme.colors.accent, project.settings.theme.colors.grayscale) }}

  :root {
    --background-color: #ffffff;
  }

  .dark {
    --background-color: var(--gray-1);
  }

  /* Blue */
  :root,
  .light,
  .light-theme {
    --blue-1: #fbfdff;
    --blue-2: #f4faff;
    --blue-3: #e6f4fe;
    --blue-4: #d5efff;
    --blue-5: #c2e5ff;
    --blue-6: #acd8fc;
    --blue-7: #8ec8f6;
    --blue-8: #5eb1ef;
    --blue-9: #0090ff;
    --blue-10: #0588f0;
    --blue-11: #0d74ce;
    --blue-12: #113264;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root,
      .light,
      .light-theme {
        --blue-1: color(display-p3 0.986 0.992 0.999);
        --blue-2: color(display-p3 0.96 0.979 0.998);
        --blue-3: color(display-p3 0.912 0.956 0.991);
        --blue-4: color(display-p3 0.853 0.932 1);
        --blue-5: color(display-p3 0.788 0.894 0.998);
        --blue-6: color(display-p3 0.709 0.843 0.976);
        --blue-7: color(display-p3 0.606 0.777 0.947);
        --blue-8: color(display-p3 0.451 0.688 0.917);
        --blue-9: color(display-p3 0.247 0.556 0.969);
        --blue-10: color(display-p3 0.234 0.523 0.912);
        --blue-11: color(display-p3 0.15 0.44 0.84);
        --blue-12: color(display-p3 0.102 0.193 0.379);
      }
    }
  }
  .dark,
  .dark-theme {
    --blue-1: #0d1520;
    --blue-2: #111927;
    --blue-3: #0d2847;
    --blue-4: #003362;
    --blue-5: #004074;
    --blue-6: #104d87;
    --blue-7: #205d9e;
    --blue-8: #2870bd;
    --blue-9: #0090ff;
    --blue-10: #3b9eff;
    --blue-11: #70b8ff;
    --blue-12: #c2e6ff;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark,
      .dark-theme {
        --blue-1: color(display-p3 0.057 0.081 0.122);
        --blue-2: color(display-p3 0.072 0.098 0.147);
        --blue-3: color(display-p3 0.078 0.154 0.27);
        --blue-4: color(display-p3 0.033 0.197 0.37);
        --blue-5: color(display-p3 0.08 0.245 0.441);
        --blue-6: color(display-p3 0.14 0.298 0.511);
        --blue-7: color(display-p3 0.195 0.361 0.6);
        --blue-8: color(display-p3 0.239 0.434 0.72);
        --blue-9: color(display-p3 0.247 0.556 0.969);
        --blue-10: color(display-p3 0.344 0.612 0.973);
        --blue-11: color(display-p3 0.49 0.72 1);
        --blue-12: color(display-p3 0.788 0.898 0.99);
      }
    }
  }

  /* Jade */
  :root,
  .light,
  .light-theme {
    --jade-1: #fbfefd;
    --jade-2: #f4fbf7;
    --jade-3: #e6f7ed;
    --jade-4: #d6f1e3;
    --jade-5: #c3e9d7;
    --jade-6: #acdec8;
    --jade-7: #8bceb6;
    --jade-8: #56ba9f;
    --jade-9: #29a383;
    --jade-10: #26997b;
    --jade-11: #208368;
    --jade-12: #1d3b31;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root,
      .light,
      .light-theme {
        --jade-1: color(display-p3 0.986 0.996 0.992);
        --jade-2: color(display-p3 0.962 0.983 0.969);
        --jade-3: color(display-p3 0.912 0.965 0.932);
        --jade-4: color(display-p3 0.858 0.941 0.893);
        --jade-5: color(display-p3 0.795 0.909 0.847);
        --jade-6: color(display-p3 0.715 0.864 0.791);
        --jade-7: color(display-p3 0.603 0.802 0.718);
        --jade-8: color(display-p3 0.44 0.72 0.629);
        --jade-9: color(display-p3 0.319 0.63 0.521);
        --jade-10: color(display-p3 0.299 0.592 0.488);
        --jade-11: color(display-p3 0.15 0.5 0.37);
        --jade-12: color(display-p3 0.142 0.229 0.194);
      }
    }
  }

  .dark,
  .dark-theme {
    --jade-1: #0d1512;
    --jade-2: #121c18;
    --jade-3: #0f2e22;
    --jade-4: #0b3b2c;
    --jade-5: #114837;
    --jade-6: #1b5745;
    --jade-7: #246854;
    --jade-8: #2a7e68;
    --jade-9: #29a383;
    --jade-10: #27b08b;
    --jade-11: #1fd8a4;
    --jade-12: #adf0d4;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark,
      .dark-theme {
        --jade-1: color(display-p3 0.059 0.083 0.071);
        --jade-2: color(display-p3 0.078 0.11 0.094);
        --jade-3: color(display-p3 0.091 0.176 0.138);
        --jade-4: color(display-p3 0.102 0.228 0.177);
        --jade-5: color(display-p3 0.133 0.279 0.221);
        --jade-6: color(display-p3 0.174 0.334 0.273);
        --jade-7: color(display-p3 0.219 0.402 0.335);
        --jade-8: color(display-p3 0.263 0.488 0.411);
        --jade-9: color(display-p3 0.319 0.63 0.521);
        --jade-10: color(display-p3 0.338 0.68 0.555);
        --jade-11: color(display-p3 0.4 0.835 0.656);
        --jade-12: color(display-p3 0.734 0.934 0.838);
      }
    }
  }

  /* Orange */
  :root, .light, .light-theme {
    --orange-1: #fefcfb;
    --orange-2: #fff7ed;
    --orange-3: #ffefd6;
    --orange-4: #ffdfb5;
    --orange-5: #ffd19a;
    --orange-6: #ffc182;
    --orange-7: #f5ae73;
    --orange-8: #ec9455;
    --orange-9: #f76b15;
    --orange-10: #ef5f00;
    --orange-11: #cc4e00;
    --orange-12: #582d1d;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root, .light, .light-theme {
        --orange-1: color(display-p3 0.995 0.988 0.985);
        --orange-2: color(display-p3 0.994 0.968 0.934);
        --orange-3: color(display-p3 0.989 0.938 0.85);
        --orange-4: color(display-p3 1 0.874 0.687);
        --orange-5: color(display-p3 1 0.821 0.583);
        --orange-6: color(display-p3 0.975 0.767 0.545);
        --orange-7: color(display-p3 0.919 0.693 0.486);
        --orange-8: color(display-p3 0.877 0.597 0.379);
        --orange-9: color(display-p3 0.9 0.45 0.2);
        --orange-10: color(display-p3 0.87 0.409 0.164);
        --orange-11: color(display-p3 0.76 0.34 0);
        --orange-12: color(display-p3 0.323 0.185 0.127);
      }
    }
  }
  .dark, .dark-theme {
    --orange-1: #17120e;
    --orange-2: #1e160f;
    --orange-3: #331e0b;
    --orange-4: #462100;
    --orange-5: #562800;
    --orange-6: #66350c;
    --orange-7: #7e451d;
    --orange-8: #a35829;
    --orange-9: #f76b15;
    --orange-10: #ff801f;
    --orange-11: #ffa057;
    --orange-12: #ffe0c2;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark, .dark-theme {
        --orange-1: color(display-p3 0.088 0.07 0.057);
        --orange-2: color(display-p3 0.113 0.089 0.061);
        --orange-3: color(display-p3 0.189 0.12 0.056);
        --orange-4: color(display-p3 0.262 0.132 0);
        --orange-5: color(display-p3 0.315 0.168 0.016);
        --orange-6: color(display-p3 0.376 0.219 0.088);
        --orange-7: color(display-p3 0.465 0.283 0.147);
        --orange-8: color(display-p3 0.601 0.359 0.201);
        --orange-9: color(display-p3 0.9 0.45 0.2);
        --orange-10: color(display-p3 0.98 0.51 0.23);
        --orange-11: color(display-p3 1 0.63 0.38);
        --orange-12: color(display-p3 0.98 0.883 0.775);
      }
    }
  }

  /* Ruby */
  :root, .light, .light-theme {
    --ruby-1: #fffcfd;
    --ruby-2: #fff7f8;
    --ruby-3: #feeaed;
    --ruby-4: #ffdce1;
    --ruby-5: #ffced6;
    --ruby-6: #f8bfc8;
    --ruby-7: #efacb8;
    --ruby-8: #e592a3;
    --ruby-9: #e54666;
    --ruby-10: #dc3b5d;
    --ruby-11: #ca244d;
    --ruby-12: #64172b;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root, .light, .light-theme {
        --ruby-1: color(display-p3 0.998 0.989 0.992);
        --ruby-2: color(display-p3 0.995 0.971 0.974);
        --ruby-3: color(display-p3 0.983 0.92 0.928);
        --ruby-4: color(display-p3 0.987 0.869 0.885);
        --ruby-5: color(display-p3 0.968 0.817 0.839);
        --ruby-6: color(display-p3 0.937 0.758 0.786);
        --ruby-7: color(display-p3 0.897 0.685 0.721);
        --ruby-8: color(display-p3 0.851 0.588 0.639);
        --ruby-9: color(display-p3 0.83 0.323 0.408);
        --ruby-10: color(display-p3 0.795 0.286 0.375);
        --ruby-11: color(display-p3 0.728 0.211 0.311);
        --ruby-12: color(display-p3 0.36 0.115 0.171);
      }
    }
  }

  .dark, .dark-theme {
    --ruby-1: #191113;
    --ruby-2: #1e1517;
    --ruby-3: #3a141e;
    --ruby-4: #4e1325;
    --ruby-5: #5e1a2e;
    --ruby-6: #6f2539;
    --ruby-7: #883447;
    --ruby-8: #b3445a;
    --ruby-9: #e54666;
    --ruby-10: #ec5a72;
    --ruby-11: #ff949d;
    --ruby-12: #fed2e1;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark, .dark-theme {
        --ruby-1: color(display-p3 0.093 0.068 0.074);
        --ruby-2: color(display-p3 0.113 0.083 0.089);
        --ruby-3: color(display-p3 0.208 0.088 0.117);
        --ruby-4: color(display-p3 0.279 0.092 0.147);
        --ruby-5: color(display-p3 0.337 0.12 0.18);
        --ruby-6: color(display-p3 0.401 0.166 0.223);
        --ruby-7: color(display-p3 0.495 0.224 0.281);
        --ruby-8: color(display-p3 0.652 0.295 0.359);
        --ruby-9: color(display-p3 0.83 0.323 0.408);
        --ruby-10: color(display-p3 0.857 0.392 0.455);
        --ruby-11: color(display-p3 1 0.57 0.59);
        --ruby-12: color(display-p3 0.968 0.83 0.88);
      }
    }
  }
</style>
