<script src="//unpkg.com/alpinejs" defer></script>
<script src="https://cdn.jsdelivr.net/npm/elasticlunr@0.9.5/elasticlunr.min.js"></script>

{% include "js/dark-mode.html.jinja" %}
{% include "js/syntax-highlighting.html.jinja" %}
{% include "js/search-js.html.jinja" %}
